{% sw_extends '@Storefront/storefront/component/listing/cms-listing.html.twig' %}

{% block cms_listing_description %}
    {{ parent() }}
    
    <div class="your-custom-class">
        Your custom text goes here
    </div>
{% endblock %}
